.header {
    overflow: hidden;
    padding: 20px 10px;
    font-size: 10px;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #999999;
}

.main .row.header {
    flex: 0 1 auto;
    padding: 0;
}

.main .row.content {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    padding: 0;
}

.box .row.footer {
    flex: 0 1 40px;
    padding: 0;
}
