* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
}
.main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.main .row.header {
    flex: 0 1 auto;
}

.main .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}
