.grid-container {
  margin-left: 20px;
  margin-right: 20px;
}
a {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    display : flex;
    align-items : center;
    justify-content: center;  
  }
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button{
    width: 200px;
    background-color: red;
  }
}